<mat-toolbar color ='primary' fxLayout = "row column" fxLayoutAlign =  "space-between center">

<span fxLayout = "row column" fxLayoutAlign =  "start center">
  <img src="assets/Star_Wars_icon.png" class = "icon">
  Star Wars
</span>
  
  
<button type="button" mat-icon-button color = "accent" (click)="addPeople()"> <!--[routerLink]="['add']"-->
  <mat-icon>add_circle</mat-icon></button>

</mat-toolbar>

<div *ngIf="people.length == 0">
  <br/>
    <p mat-line class="listMessage">No character found. Please click on the add (+) button to add Star Wars characters.</p>
</div>

<mat-nav-list *ngIf="people.length > 0">
  <h2 mat-subheader>Star Wars Characters</h2>
    
  <a *ngFor="let p of people" [routerLink]="['/show', p.id]" mat-list-item>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    <div>
      <img [src]="p.image" class="listImage">
    </div>
    <div >
      <span mat-line>{{p.name}}</span>
      <span mat-line><mat-hint>ID in <a href="https://swapi.co" target="_blank">swapi.co</a> : {{p.id}}</mat-hint></span> 
    </div>
      
  </a>
    
</mat-nav-list>
