<mat-toolbar color ='primary' fxLayout = "row column" fxLayoutAlign =  "space-between center">

    <span fxLayout = "row column" fxLayoutAlign =  "start center">
      <a href = "#"><img src="assets/Star_Wars_icon.png" class = "icon"></a>
      Star Wars
    </span>
      
    <button type="button" mat-icon-button color = "accent" (click)="goBack()"> <!--[routerLink]="['add']"-->
      <mat-icon>backspace</mat-icon></button>
      
  </mat-toolbar>

<mat-card class="card" (swiperight)="goBack()" (pandown)="scrollPage($event)" (panup)="scrollPage($event)"><!-- -->
    <mat-card-header>
      <mat-card-title><h2>{{ people?.name }}</h2></mat-card-title>
      <mat-card-subtitle>Birth Year : {{ people?.birth_year }}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="people?.image" mat-card-image>
    <mat-card-content>
        <p>Name: {{ people?.name }}</p>
        <p>Height: {{ people?.height }}</p>
        <p>Mass: {{ people?.mass }}</p>
        <p>Hair Color: {{ people?.hair_color }}</p>
        <p>Skin Color: {{ people?.skin_color }}</p>
        <p>Eye Color: {{ people?.eye_color }}</p>
        <p>Birth Year: {{ people?.birth_year }}</p>
        <p>Gender: {{ people?.gender}}</p>
        <p>Homeworld: {{ people?.homeworld }}</p>
        <p>Films: {{ people?.films}}</p>
        <p>Species: {{ people?.species }}
        <p>Vehicles: {{ people?.vehicles }}</p>
        <p>Starships: {{ people?.starships }}</p>
        <p>Created: {{ people?.created }}</p>
        <p>Edited: {{ people?.edited }}</p>
        <p>URL: <a href="{{ people?.url }}" target="blank">{{ people?.url }}</a></p>

    </mat-card-content>
    <mat-card-actions fxLayoutAlign="end">
      <button type="button" mat-icon-button color="primary" (click)="share()"> <!--[disabled]="!canShare" -->
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
  
  </mat-card>