<!--
<p>
  inventory works!
</p>
-->


<!--<form #myShoppingCart = "ngform" (click) = "UpdateCart(myShoppingCart)"> -->
<form #inventoryForm = "ngForm" (ngSubmit)= "add(inventoryForm)">
  //Form Completed: {{inventoryForm.valid}}
  <table>
    <tr>
      <td>
          <div>
              Fruit:
          </div>
        <div>
          <select name="fruitsList" id="" ngModel (change)="displayFruit($event)" required>
            <option *ngFor="let f of fruitsList; let i = index" [value] = "i" > {{f.label}} </option>
          </select>
        </div>
        <div>
          <!--img src="assets\fruits\apple.png" class="thumbnail" --> 
          <!--img [src]="fruitImage" class="thumbnail" --> 
        </div>
      </td>
      <td>
        <div>
            Quantity:
        </div>

        <div>
          <input type="number" name="quantity" min="1" ngModel required>
        </div>
        <button type = "submit">Add</button>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <!--img src="assets\fruits\apple.png" class="thumbnail" --> 
          <img [src]="fruitImage" class="thumbnail"> 
        </div>
      </td>
      <td></td>

    </tr>


  </table>
  



</form>